@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Екатеринбург<br />
    Мира, 28<br/>
    <abbr title="Phone">T:</abbr>
    89120393873
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ivan_cheretaev@inbox.ru">ivan_cheretaev@inbox.ru</a><br />
</address>